# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 18f74f677bce127966588177852a827cf13d2874838e4c526e8b7da4b5cad76e3ad9fe33b3a3945a325478711493217742e00046027452e20fa7387f1a73650e

test:
  secret_key_base: de59e7e7777b87c0064250cf15773d9c1c0b09b153d60e486d46ae31a47db404ac7659d45fa285ed1b32704d33748a8b3817028caff73e074ef6571d82cf84aa

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
